<ion-header>
  <ion-toolbar>
    <ion-button color="dark" fill="clear" (click)="goback()" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Aspectos legales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p padding>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum vestibulum tortor, vel blandit dui vehicula ac.
    Proin non congue justo, nec rutrum mauris. Nunc eu massa scelerisque, bibendum odio et, egestas magna. Donec vel
    dui
    sit amet nisi laoreet ultrices. Morbi eu ipsum et justo tincidunt aliquam. Vestibulum convallis dui elit, vel
    consectetur enim tincidunt et. Suspendisse sagittis euismod fermentum.
  </p>
  <p padding>
    Integer sem arcu, porta ac suscipit in, pulvinar id urna. Nullam viverra ornare malesuada. Nam finibus porttitor
    massa, ut egestas ipsum vehicula eget. Sed non aliquam est. Aenean laoreet tempor odio non vulputate. Fusce
    iaculis,
    erat id scelerisque elementum, massa dolor vulputate lacus, vel vulputate lacus risus vel nulla. Interdum et
    malesuada fames ac ante ipsum primis in faucibus. Quisque enim metus, efficitur a ullamcorper at, feugiat eget
    risus.
    Phasellus ac tempus diam. Vestibulum accumsan lorem id ante auctor dictum. Duis maximus turpis ut risus
    sollicitudin
    scelerisque. Vestibulum posuere est in metus dignissim ultricies. Fusce non dolor maximus ante tempus ultrices.
    Integer sollicitudin ultrices ante sagittis malesuada. Aenean vitae commodo dui.
  </p>
  <p padding>
    Donec dapibus nulla porttitor sem mollis, sed molestie mauris dignissim. Donec tincidunt mollis nulla, eu porta
    erat
    ullamcorper eu. Donec elementum egestas est in ornare. Nam auctor egestas urna, non tempus felis porta ac. Duis
    hendrerit libero a neque varius rhoncus. Donec dapibus nisi sit amet sapien lobortis ornare. Vivamus laoreet nisi
    ac
    egestas tincidunt. Ut efficitur nulla ut lorem volutpat, convallis porta turpis euismod.
  </p>
  <p padding>
    Vivamus quis sodales ante. Mauris in vehicula magna. Cras blandit, est non pellentesque vulputate, orci velit
    viverra
    ante, et volutpat lorem tellus pellentesque dolor. In hac habitasse platea dictumst. Pellentesque mattis ex vel
    ligula varius, et tempor ex rhoncus. Praesent tempus volutpat quam accumsan convallis. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Quisque volutpat sit amet quam eu ornare.
  </p>

  <p padding>
    Donec dapibus justo quis nibh ultrices, sit amet bibendum dolor fringilla. Phasellus sagittis hendrerit fringilla.
    Phasellus rhoncus dolor sit amet odio venenatis scelerisque. Suspendisse hendrerit, ipsum at sollicitudin cursus,
    eros mauris egestas ligula, suscipit egestas erat urna id arcu. Vestibulum arcu lectus, vestibulum vehicula
    accumsan
    ac, vestibulum ut sem. Donec semper volutpat ligula, non rhoncus urna convallis eget. Integer condimentum, ex quis
    posuere viverra, tellus nisi semper dolor, molestie sodales risus dui nec orci. Proin scelerisque, lacus quis
    ultrices rutrum, orci arcu tincidunt nibh, nec elementum odio neque ut ante. Maecenas ac velit fringilla, malesuada
    leo ut, dapibus diam. Donec dapibus vestibulum ipsum sed tincidunt. Mauris ullamcorper tortor eget consectetur
    facilisis. Suspendisse maximus arcu sed posuere vehicula.
  </p>
</ion-content>